.loading-screen-mask {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  /*opacity: 0.1;*/
  opacity: inherit;
  z-index: 2000;
  /*background-color: #000000;*/
  background-color: rgba(0, 0, 0, 0.1); }

.loading-screen {
  display: block;
  position: absolute;
  text-align: center;
  width: 60px;
  height: 60px;
  top: 50%;
  z-index: 2100;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  left: 50%;
  background: white;
  border-radius: 5px; }
  .loading-screen.hide {
    display: none; }
  .loading-screen .vip-image {
    width: 50px;
    height: 50px;
    margin-top: 5px; }
  .loading-screen .vip-cvs {
    position: absolute;
    left: 0;
    top: 0;
    -webkit-transform: translate(-25%, -25%) scale(0.5);
    transform: translate(-25%, -25%) scale(0.5); }
